{% extends "repport/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"> <!--den vil vise billed af den user som har oploadet under hver post i home page.-->
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                <!-- den tegn filtrere som her vil filter date,
                vi giver en format til date gennem se django date documentation . der skal ikke stå noget mellemrum-->
                <!-- https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#date -->

                {% if object.author == user %}
                  <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a> <!-- danger er for en delete button-->
                  </div>
                {% endif %}
            </div>
            <h2 class="article-title" >{{ object.title }}></h2>
            <p class="article-content">{{ object.content }}</p>
          </div>
        </article>
{% endblock content %}